<a href="https://colab.research.google.com/github/Gus-1003/ENEM_2021-Data_analysis/blob/main/Enem2021_organizado_corre%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/drive/')
%cd /content/drive/MyDrive/

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).
/content/drive/MyDrive

In [3]:
# ler dados de interesse
data = pd.read_csv('/content/drive/MyDrive/Pesquisa_Enem2021/Base de Dados/enem2021_organizado.csv')

In [4]:
display(data)

,Unnamed: 0,nota,q1,q2,q3,q4,q5,q6,q7,q8,...,q36,q37,q38,q39,q40,q41,q42,q43,q44,q45
0,0,487.4,B,B,B,D,C,C,B,D,...,E,B,B,E,B,E,E,E,C,B
1,1,378.5,A,C,E,E,D,B,C,C,...,A,E,A,C,B,D,C,E,B,D
2,2,516.3,A,A,E,C,C,D,A,B,...,E,C,C,D,B,B,E,E,D,E
3,3,595.2,A,D,D,C,C,A,C,A,...,A,E,C,B,C,E,D,A,C,E
4,4,386.9,B,B,E,C,E,C,D,A,...,B,D,C,E,D,D,A,D,E,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2143753,2143753,482.0,C,E,C,B,C,B,C,C,...,E,D,D,B,B,D,A,A,C,B
2143754,2143754,380.9,A,D,D,A,A,D,D,B,...,B,E,D,A,C,C,C,D,E,A
2143755,2143755,388.8,B,A,C,D,E,C,E,A,...,D,D,C,C,E,D,*,E,E,D
2143756,2143756,516.3,A,A,C,B,C,C,E,D,...,D,D,C,E,A,E,E,D,B,D
2143757,2143757,407.2,B,A,C,A,D,D,A,D,...,B,D,D,C,B,A,A,D,D,D

In [5]:
data = data.drop('Unnamed: 0', axis=1)
data = data.replace('*', np.nan)
data = data.replace('.', np.nan)
data = data.dropna()

In [6]:
data

,nota,q1,q2,q3,q4,q5,q6,q7,q8,q9,...,q36,q37,q38,q39,q40,q41,q42,q43,q44,q45
0,487.4,B,B,B,D,C,C,B,D,C,...,E,B,B,E,B,E,E,E,C,B
1,378.5,A,C,E,E,D,B,C,C,B,...,A,E,A,C,B,D,C,E,B,D
2,516.3,A,A,E,C,C,D,A,B,C,...,E,C,C,D,B,B,E,E,D,E
3,595.2,A,D,D,C,C,A,C,A,C,...,A,E,C,B,C,E,D,A,C,E
4,386.9,B,B,E,C,E,C,D,A,D,...,B,D,C,E,D,D,A,D,E,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2143751,513.1,A,A,D,B,C,D,D,D,A,...,B,B,D,B,C,C,B,C,C,D
2143752,436.1,C,B,C,E,C,C,C,D,C,...,A,C,B,D,D,B,C,B,D,A
2143753,482.0,C,E,C,B,C,B,C,C,B,...,E,D,D,B,B,D,A,A,C,B
2143754,380.9,A,D,D,A,A,D,D,B,E,...,B,E,D,A,C,C,C,D,E,A
2143757,407.2,B,A,C,A,D,D,A,D,B,...,B,D,D,C,B,A,A,D,D,D

In [17]:
df_amostra = data.iloc[:,1:46]
df_amostra = df_amostra.reset_index(drop=True)
df_amostra

,q1,q2,q3,q4,q5,q6,q7,q8,q9,q10,...,q36,q37,q38,q39,q40,q41,q42,q43,q44,q45
0,B,B,B,D,C,C,B,D,C,C,...,E,B,B,E,B,E,E,E,C,B
1,A,C,E,E,D,B,C,C,B,A,...,A,E,A,C,B,D,C,E,B,D
2,A,A,E,C,C,D,A,B,C,B,...,E,C,C,D,B,B,E,E,D,E
3,A,D,D,C,C,A,C,A,C,C,...,A,E,C,B,C,E,D,A,C,E
4,B,B,E,C,E,C,D,A,D,C,...,B,D,C,E,D,D,A,D,E,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2007021,A,A,D,B,C,D,D,D,A,E,...,B,B,D,B,C,C,B,C,C,D
2007022,C,B,C,E,C,C,C,D,C,C,...,A,C,B,D,D,B,C,B,D,A
2007023,C,E,C,B,C,B,C,C,B,C,...,E,D,D,B,B,D,A,A,C,B
2007024,A,D,D,A,A,D,D,B,E,B,...,B,E,D,A,C,C,C,D,E,A
2007025,B,A,C,A,D,D,A,D,B,E,...,B,D,D,C,B,A,A,D,D,D

In [21]:
# Define o gabarito das questões
gabarito = ['A', 'D', 'C', 'D', 'C', 'D', 'B', 'B', 'B', 'E', 'C', 'D', 'C', 'C', 'D', 'C', 'B', 'C', 'B', 'D', 'A', 'B', 'C', 'A', 'A', 'D', 'C', 'B', 'E', 'B', 'A', 'B', 'E', 'E', 'B', 'B', 'B', 'C', 'A', 'B', 'E', 'D', 'E', 'D', 'E']
#gabarit = ['1', 'D', 'C', 'D', 'C', 'D', 'B', 'B', 'B', '10', 'C', 'D', 'C', 'C', 'D', 'C', 'B', 'C', 'B', '20', 'A', 'B', 'C', 'A', 'A', 'D', 'C', 'B', 'E', '30', 'A', 'B', 'E', 'E', '35', 'B', 'B', 'C', 'A', '40', 'E', 'D', 'E', 'D', '45']
print(gabarito[0])

A

In [19]:
respostas_corrigidas

,q1,q2,q3,q4,q5,q6,q7,q8,q9,q10,...,q36,q37,q38,q39,q40,q41,q42,q43,q44,q45
0,B,B,B,D,C,C,B,D,C,C,...,E,B,B,E,B,E,E,E,C,B
1,A,C,E,E,D,B,C,C,B,A,...,A,E,A,C,B,D,C,E,B,D
2,A,A,E,C,C,D,A,B,C,B,...,E,C,C,D,B,B,E,E,D,E
3,A,D,D,C,C,A,C,A,C,C,...,A,E,C,B,C,E,D,A,C,E
4,B,B,E,C,E,C,D,A,D,C,...,B,D,C,E,D,D,A,D,E,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2007021,A,A,D,B,C,D,D,D,A,E,...,B,B,D,B,C,C,B,C,C,D
2007022,C,B,C,E,C,C,C,D,C,C,...,A,C,B,D,D,B,C,B,D,A
2007023,C,E,C,B,C,B,C,C,B,C,...,E,D,D,B,B,D,A,A,C,B
2007024,A,D,D,A,A,D,D,B,E,B,...,B,E,D,A,C,C,C,D,E,A
2007025,B,A,C,A,D,D,A,D,B,E,...,B,D,D,C,B,A,A,D,D,D

In [22]:
#print(respostas_corrigidas[15]) # Qx no gabarito é igual a x-1

In [23]:
df_amostra.iloc[0]

q1     B
q2     B
q3     B
q4     D
q5     C
q6     C
q7     B
q8     D
q9     C
q10    C
q11    E
q12    D
q13    B
q14    B
q15    B
q16    C
q17    A
q18    C
q19    E
q20    B
q21    C
q22    D
q23    A
q24    D
q25    E
q26    E
q27    A
q28    D
q29    C
q30    D
q31    E
q32    B
q33    E
q34    D
q35    D
q36    E
q37    B
q38    B
q39    E
q40    B
q41    E
q42    E
q43    E
q44    C
q45    B
Name: 0, dtype: object

In [24]:
# Iterar sobre cada linha do dataset
for i in range(len(df_amostra)):
    linha = df_amostra.iloc[i]
    # Iterar sobre cada coluna da linha e comparar com o gabarito
    for j in range(0, 45):
        if linha[j] == gabarito[j]:
            linha[j] = 1
        else:
            linha[j] = 0
    
    # Substituir a linha original pela linha corrigida no dataset
    respostas_corrigidas.loc[i] = linha

In [26]:
display(df_amostra)

,q1,q2,q3,q4,q5,q6,q7,q8,q9,q10,...,q36,q37,q38,q39,q40,q41,q42,q43,q44,q45
0,0,0,0,1,1,0,1,0,0,0,...,0,1,0,0,1,1,0,1,0,0
1,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,1,0,0
2,1,0,0,0,1,1,0,1,0,0,...,0,0,1,0,1,0,0,1,1,1
3,1,1,0,0,1,0,0,0,0,0,...,0,0,1,0,0,1,1,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2007021,1,0,0,0,1,1,0,0,0,1,...,1,1,0,0,0,0,0,0,0,0
2007022,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2007023,0,0,1,0,1,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
2007024,1,1,0,0,0,1,0,1,0,0,...,1,0,0,1,0,0,0,0,0,0
2007025,0,0,1,0,0,1,0,0,1,1,...,1,0,0,0,1,0,0,0,1,0

In [38]:
respostas_corrigidas = df_amostra.copy()
respostas_corrigidas

,q1,q2,q3,q4,q5,q6,q7,q8,q9,q10,...,q36,q37,q38,q39,q40,q41,q42,q43,q44,q45
0,0,0,0,1,1,0,1,0,0,0,...,0,1,0,0,1,1,0,1,0,0
1,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,1,0,0
2,1,0,0,0,1,1,0,1,0,0,...,0,0,1,0,1,0,0,1,1,1
3,1,1,0,0,1,0,0,0,0,0,...,0,0,1,0,0,1,1,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2007021,1,0,0,0,1,1,0,0,0,1,...,1,1,0,0,0,0,0,0,0,0
2007022,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2007023,0,0,1,0,1,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
2007024,1,1,0,0,0,1,0,1,0,0,...,1,0,0,1,0,0,0,0,0,0
2007025,0,0,1,0,0,1,0,0,1,1,...,1,0,0,0,1,0,0,0,1,0

In [39]:
# Selecionar a coluna "coluna2" do dataset1
notas = data.iloc[:, 0]

# converter todas as colunas de strings em inteiros
respostas_corrigidas = respostas_corrigidas.applymap(int)

# Adicionar a coluna "coluna2" ao dataset2
respostas_corrigidas.insert(45, 'notas', notas)

In [40]:
respostas_corrigidas

,q1,q2,q3,q4,q5,q6,q7,q8,q9,q10,...,q37,q38,q39,q40,q41,q42,q43,q44,q45,notas
0,0,0,0,1,1,0,1,0,0,0,...,1,0,0,1,1,0,1,0,0,487.4
1,1,0,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,1,0,0,378.5
2,1,0,0,0,1,1,0,1,0,0,...,0,1,0,1,0,0,1,1,1,516.3
3,1,1,0,0,1,0,0,0,0,0,...,0,1,0,0,1,1,0,0,1,595.2
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,386.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2007021,1,0,0,0,1,1,0,0,0,1,...,1,0,0,0,0,0,0,0,0,484.1
2007022,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,474.6
2007023,0,0,1,0,1,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,439.3
2007024,1,1,0,0,0,1,0,1,0,0,...,0,0,1,0,0,0,0,0,0,426.4
2007025,0,0,1,0,0,1,0,0,1,1,...,0,0,0,1,0,0,0,1,0,590.1

In [42]:
respostas_corrigidas.describe()

,q1,q2,q3,q4,q5,q6,q7,q8,q9,q10,...,q37,q38,q39,q40,q41,q42,q43,q44,q45,notas
count,2.007026e+06,2.007026e+06,2.007026e+06,2.007026e+06,2.007026e+06,2.007026e+06,2.007026e+06,2.007026e+06,2.007026e+06,2.007026e+06,...,2.007026e+06,2.007026e+06,2.007026e+06,2.007026e+06,2.007026e+06,2.007026e+06,2.007026e+06,2.007026e+06,2.007026e+06,1.879704e+06
mean,4.227783e-01,1.704960e-01,2.513136e-01,1.703291e-01,6.524858e-01,2.693856e-01,2.460466e-01,2.093341e-01,3.838266e-01,2.490267e-01,...,2.571312e-01,2.537700e-01,3.099133e-01,3.772592e-01,3.658572e-01,1.637732e-01,2.474173e-01,2.083620e-01,3.444126e-01,4.935244e+02
std,4.940009e-01,3.760681e-01,4.337686e-01,3.759218e-01,4.761808e-01,4.436408e-01,4.307061e-01,4.068334e-01,4.863166e-01,4.324494e-01,...,4.370524e-01,4.351677e-01,4.624577e-01,4.847007e-01,4.816698e-01,3.700697e-01,4.315114e-01,4.061371e-01,4.751765e-01,8.114323e+01
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.397000e+02
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.320000e+02
50%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.832000e+02
75%,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,5.482000e+02
max,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,8.671000e+02

In [43]:
#respostas_corrigidas_csv = respostas_corrigidas.to_csv('/content/drive/MyDrive/Pesquisa_Enem2021/Base de Dados/respostas_corrigidas.csv')