<a href="https://colab.research.google.com/github/Gus-1003/ENEM_2021-Data_analysis/blob/main/Enem2021_organizado_corre%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
from google.colab import drive
drive.mount('/content/drive/')
%cd /content/drive/MyDrive/

Mounted at /content/drive/
/content/drive/MyDrive

In [81]:
# ler dados de interesse
data = pd.read_csv('/content/drive/MyDrive/Pesquisa_Enem2021/Base de Dados/enem2021_organizado.csv')

In [82]:
display(data)

,Unnamed: 0,nota,q1,q2,q3,q4,q5,q6,q7,q8,...,q36,q37,q38,q39,q40,q41,q42,q43,q44,q45
0,0,487.4,B,B,B,D,C,C,B,D,...,E,B,B,E,B,E,E,E,C,B
1,1,378.5,A,C,E,E,D,B,C,C,...,A,E,A,C,B,D,C,E,B,D
2,2,516.3,A,A,E,C,C,D,A,B,...,E,C,C,D,B,B,E,E,D,E
3,3,595.2,A,D,D,C,C,A,C,A,...,A,E,C,B,C,E,D,A,C,E
4,4,386.9,B,B,E,C,E,C,D,A,...,B,D,C,E,D,D,A,D,E,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2143753,2143753,482.0,C,E,C,B,C,B,C,C,...,E,D,D,B,B,D,A,A,C,B
2143754,2143754,380.9,A,D,D,A,A,D,D,B,...,B,E,D,A,C,C,C,D,E,A
2143755,2143755,388.8,B,A,C,D,E,C,E,A,...,D,D,C,C,E,D,*,E,E,D
2143756,2143756,516.3,A,A,C,B,C,C,E,D,...,D,D,C,E,A,E,E,D,B,D
2143757,2143757,407.2,B,A,C,A,D,D,A,D,...,B,D,D,C,B,A,A,D,D,D

In [83]:
data = data.drop('Unnamed: 0', axis=1)
data = data.replace('*', np.nan)
data = data.replace('.', np.nan)
data = data.dropna()

In [84]:
data

,nota,q1,q2,q3,q4,q5,q6,q7,q8,q9,...,q36,q37,q38,q39,q40,q41,q42,q43,q44,q45
0,487.4,B,B,B,D,C,C,B,D,C,...,E,B,B,E,B,E,E,E,C,B
1,378.5,A,C,E,E,D,B,C,C,B,...,A,E,A,C,B,D,C,E,B,D
2,516.3,A,A,E,C,C,D,A,B,C,...,E,C,C,D,B,B,E,E,D,E
3,595.2,A,D,D,C,C,A,C,A,C,...,A,E,C,B,C,E,D,A,C,E
4,386.9,B,B,E,C,E,C,D,A,D,...,B,D,C,E,D,D,A,D,E,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2143751,513.1,A,A,D,B,C,D,D,D,A,...,B,B,D,B,C,C,B,C,C,D
2143752,436.1,C,B,C,E,C,C,C,D,C,...,A,C,B,D,D,B,C,B,D,A
2143753,482.0,C,E,C,B,C,B,C,C,B,...,E,D,D,B,B,D,A,A,C,B
2143754,380.9,A,D,D,A,A,D,D,B,E,...,B,E,D,A,C,C,C,D,E,A
2143757,407.2,B,A,C,A,D,D,A,D,B,...,B,D,D,C,B,A,A,D,D,D

  * 91 A 1
  * 92 D 4
  * 93 C 3
---
  * 94 D 4
  * 95 C 3
  * 96 D 4
---
* 97 B 2
* 98 B 2
* 99 B 2
---
* 100 E 5
* 101 C 3
* 102 D 4
---
* 103 C 3
* 104 C 3 
* 105 D 4
---
* 106 C 3
* 107 B 2 
* 108 C 3
---
* 109 B 2
* 110 D 4 
* 111 A 1
---
* 112 B 2
* 113 C 3 
* 114 A 1
---
* 115 A 1
* 116 D 4 
* 117 C 3
---
* 118 B 2 
* 119 E 5
* 120 B 2
---
* 121 A 1 
* 122 B 2
* 123 E 5 
---
* 124 E 5 
* 125 B 2
* 126 B 2
---
* 127 B 2
* 128 C 3
* 129 A 1
---
* 130 B 2 
* 131 E 5 
* 132 D 4
--- 
* 133 E 5 
* 134 D 4 
* 135 E 5

In [85]:
# Define o gabarito das questões
gabarito = ['A', 'D', 'C', 'D', 'C', 'D', 'B', 'B', 'B', 'E', 'C', 'D', 'C', 'C', 'D', 'C', 'B', 'C', 'B', 'D', 'A', 'B', 'C', 'A', 'A', 'D', 'C', 'B', 'E', 'B', 'A', 'B', 'E', 'E', 'B', 'B', 'B', 'C', 'A', 'B', 'E', 'D', 'E', 'D', 'E']

In [86]:
respostas = {'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4}

In [87]:
len(gabarito)

45

In [93]:
# Realiza a amostragem aleatória
df_amostra = data.sample(n=50000, random_state=42)
df_amostra = df_amostra.reset_index(drop=True)

In [102]:
# Seleciona apenas as colunas correspondentes às questões
colunas_questoes = [coluna for coluna in data.columns if coluna.startswith('q')]

respostas_alunos = df_amostra[colunas_questoes] # lista com as respostas dos alunos

respostas_alunos['q1']

0        A
1        A
2        B
3        D
4        C
        ..
49995    B
49996    A
49997    A
49998    C
49999    E
Name: q1, Length: 50000, dtype: object

In [98]:
# Loop para comparar as respostas dos alunos com o gabarito
for i in range(len(gabarito)):
    respostas_alunos[:, i] = np.where(respostas_alunos[:, i] == gabarito[i], 1, 0)

InvalidIndexError: ignored

In [75]:
# Cria um dataframe para as respostas corrigidas

for i in range(1, 46):
    colunas_questoes[f'q{i}'] = (colunas_questoes[f'q{i}'].str.upper() == gabarito[i-1]).astype(int)

TypeError: ignored

In [71]:
len(colunas_questoes_num)

45

In [72]:

# Substitui as respostas dos alunos pelas notas
#questoes = questoes.applymap(lambda resposta: 1 if resposta == gabarito[questoes.columns.get_loc(resposta)] else 0)

# Adiciona a coluna de notas ao dataframe de respostas
df_amostra['notas'] = notas
df_amostra

# Salva o novo dataset com as notas dos alunos
#data.to_csv('notas_alunos.csv', index=False)

,nota,q1,q2,q3,q4,q5,q6,q7,q8,q9,...,q37,q38,q39,q40,q41,q42,q43,q44,q45,notas
157733,523.6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,B,13
1091065,612.8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,E,20
729786,634.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,D,25
828611,514.7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,E,14
246186,504.4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,E,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1857006,595.6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,D,19
1654062,464.8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,B,8
649470,448.9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,A,15
629591,420.7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,C,11
217135,634.9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,C,24

In [60]:
print(df_amostra.columns)

Index(['nota', 'q1', 'q2', 'q3', 'q4', 'q5', 'q6', 'q7', 'q8', 'q9', 'q10',
       'q11', 'q12', 'q13', 'q14', 'q15', 'q16', 'q17', 'q18', 'q19', 'q20',
       'q21', 'q22', 'q23', 'q24', 'q25', 'q26', 'q27', 'q28', 'q29', 'q30',
       'q31', 'q32', 'q33', 'q34', 'q35', 'q36', 'q37', 'q38', 'q39', 'q40',
       'q41', 'q42', 'q43', 'q44', 'q45', 'notas'],
      dtype='object')

In [ ]:
#print(gabarito)

In [ ]:
#df_ordenado_csv = df_ordenado.to_csv('/content/drive/MyDrive/Pesquisa_Enem2021/Base de Dados/df_ordenado.csv')